.view-articles {
  .image-column {
    position: relative;
    a {
      .article-category-overlay {
        color: #fff;
        font-size: 16px;
        position: absolute;
        top: -15px;
        left: 0;
        background: $brand-secondary;
        padding: 20px 30px 20px 15px;
        border-radius: 4px 4px 40px;
        transition: 0.3s;
      }
    }
    a:hover {
      .article-category-overlay {
        text-decoration: none;
        background-color: $brand-tertiary;
        padding-right: 45px;
        transition: .6s;
      }
    }
  }
  .btn {
    padding: 13px 50px;
    width: 250px;
    height: 60px;
    border-radius: 60px;
    font-size: 24px;
    text-align: left;
    font-weight: 600;
  }
}

.view-articles.view-display-id-page_1 {
  .views-row {
    margin: 30px 0;
  }
  h3 {
    margin-top: 0;
  }
}

@media (min-width: 550px) and (max-width: $screen-xs-max) {
  .view-articles.view-display-id-page_1 {
    .image-column,
    .content-column {
      width: 50% !important;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .view-articles.view-display-id-page_1 {
    .view-content {
      .content-column {
        margin-top: 15px;
        h3 {
          font-size: 25px;
        }
        p, .btn {
          display: none;
        }
      }
    }
  }
}