.aboutpage-wrap {
  position: relative;
  .aboutpage-section {
    position: relative;
    height: 61vh;
    padding: 60px 0;
    .content-column {
      img {
        display: block;
        margin: 0 0 10px !important;
      }
    }
    &.about-one {
      .content-column {
        h2 {
          margin-bottom: 0;
        }
        h1 {
          margin-top: 0;
        }
      }
    }
    &.about-three,
    &.about-four,
    &.about-five,
    &.about-six,
    &.about-seven,
    &.about-eight,
    &.about-nine {
      h4 {
        margin-top: 0;
        margin-bottom: 0;
      }
      h3 {
        margin-top: 0;
      }
    }
    .aboutpage-section-inner {
      .content-column {
        margin: auto;
      }
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: 768px) {
  .aboutpage-wrap {
    .aboutpage-section {
      .aboutpage-section-inner {
        .row {
          display: flex;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .aboutpage-wrap {
    .aboutpage-section {
      height: unset !important;
      .content-column {
        h1 {
          font-size: 33px;
        }
        h2 {
          font-size: 28px;
        }
        h3 {
          font-size: 30px;
        }
        h4 {
          font-size: 25px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .aboutpage-wrap {
    .aboutpage-section.about-one {
      padding-top: 10px !important;
    }
    .aboutpage-section {
      text-align: center !important;
      .image-column {
        margin-bottom: 15px;
        img {
          max-width: 80% !important;
          margin: 0 auto !important;
        }
      }
      .content-column {
        h1, h2, h3, h4, p {
          max-width: 80% !important;
          margin: 0 auto !important;
        }
        img {
          margin: 5px auto 10px !important;
        }
      }
    }
  }
}
