//@keyframes float {
//  0% {
//    transform: translateY(-5px);
//  }
//  50% {
//    transform: translateY(5px);
//  }
//  100% {
//    transform: translateY(-5px);
//  }
//}
//@keyframes heartBeat {
//  0% {
//    transform: scale(1);
//  }
//  10% {
//    transform: scale(1.3);
//  }
//  25% {
//    transform: scale(1.25);
//  }
//  35% {
//    transform: scale(1.4);
//  }
//  100% {
//    transform: scale(1);
//  }
//}
//@keyframes floatJellyA {
//  0% {
//    transform: translateY(-10px);
//  }
//  50% {
//    transform: translateY(50px);
//  }
//  80% {
//    transform: translateY(-5px);
//  }
//  100% {
//    transform: translateY(-10px);
//  }
//}
//@keyframes floatJellyB {
//  0% {
//    transform: translateY(-60px);
//  }
//  50% {
//    transform: translateY(10px);
//  }
//  100% {
//    transform: translateY(-60px);
//  }
//}
//@keyframes floatRock1 {
//  0% {
//    transform: translate(0, -10px);
//  }
//  50% {
//    transform: translate(-10px, 20px);
//  }
//  90% {
//    transform: translate(0, -10px);
//  }
//  100% {
//    transform: translate(0, -10px);
//  }
//}
//@keyframes floatRock2 {
//  0% {
//    transform: translate(0 -20px);
//  }
//  50% {
//    transform: translate(-10px, 50px);
//  }
//  100% {
//    transform: translate(0, -20px);
//  }
//}
//@keyframes floatRock3 {
//  0% {
//    transform: translateY(-10px);
//  }
//  50% {
//    transform: translateY(20px);
//  }
//  100% {
//    transform: translateY(-10px);
//  }
//}
//@keyframes floatRock4 {
//  0% {
//    transform: translate(0, -15px);
//  }
//  50% {
//    transform: translate(2px, 7px);
//  }
//  80% {
//    transform: translate(0, -15px);
//  }
//  100% {
//    transform: translate(0, -15px);
//  }
//}
//@keyframes floatRock5 {
//  0% {
//    transform: translate(0, -20px);
//  }
//  50% {
//    transform: translate(18px, 40px);
//  }
//  80% {
//    transform: translate(0, -20px);
//  }
//  100% {
//    transform: translate(0, -20px);
//  }
//}
//
//
//@keyframes drift {
//  0% {
//    transform: translateX(20px);
//  }
//  50% {
//    transform: translateX(-20px);
//  }
//  100% {
//    transform: translateX(20px);
//  }
//}
//@keyframes driftA {
//  0% {
//    transform: translateX(60px);
//  }
//  50% {
//    transform: translateX(-30px);
//  }
//  100% {
//    transform: translateX(60px);
//  }
//}
//@keyframes driftB {
//  0% {
//    transform: translateX(-10px);
//  }
//  50% {
//    transform: translateX(50px);
//  }
//  100% {
//    transform: translateX(-10px);
//  }
//}
//@keyframes driftC {
//  0% {
//    transform: translateX(-15px);
//  }
//  50% {
//    transform: translateX(10px);
//  }
//  100% {
//    transform: translateX(-15px);
//  }
//}
//
//.animation-section {
//  &.breathing-island-animation {
//    margin: 100px 0;
//    .svg-image {
//      max-height: 460px;
//      svg {
//        height: 520px;
//        padding: 20px 0;
//        overflow: visible;
//        margin: 0 auto;
//        display: block;
//      }
//      .rocks {
//        .rock1 {
//          animation: floatRock1 5s 10s ease infinite;
//        }
//        .rock2 {
//          animation: floatRock2 5s 10s ease infinite;
//        }
//        .rock3 {
//          animation: floatRock3 5s 10s ease infinite;
//        }
//        .rock4 {
//          animation: floatRock4 5s 10s ease infinite;
//        }
//        .rock5 {
//          animation: floatRock5 5s 10s ease infinite;
//        }
//      }
//      .island {
//        animation: float 5s 10s ease infinite;
//      }
//      .heart-of-the-island {
//        transform: scale(1);
//        transform-origin: 532px 376px;
//        animation: heartBeat 1s .8s ease infinite;
//      }
//      .clouds {
//        .cloud1 {
//          animation: driftA 5s 10s ease infinite;
//        }
//        .cloud2 {
//          animation: driftB 5s 10s ease infinite;
//        }
//        .cloud3 {
//          animation: driftC 5s 10s ease infinite;
//        }
//      }
//      .jellyfish {
//        .jellyfish1 {
//          animation: floatJellyA 5s 10s ease infinite;
//        }
//        .jellyfish2 {
//          animation: floatJellyB 5s 10s ease infinite;
//        }
//        .jellyfish3 {
//          animation: floatJellyA 5s 10s ease infinite;
//        }
//      }
//    }
//  }
//}

//.thing {
//  animation-iteration-count: 1;
//  animation: swoosh 2s 0s ease;
//}
//
//@keyframes swoosh {
//  0% {
//    transform: translateX(100%);
//  }
//  100% {
//    transform: translateX(0px);
//  }
//}
//
//@keyframes grow {
//  0% {
//    transform: scale(0);
//  }
//  100% {
//    transform: scale(0);
//  }
//}
//
//@keyframes bloom {
//  0% {
//    transform: rotate(-90deg);
//  }
//  100% {
//    transform: rotate(0deg);
//  }
//}