.contactpage-wrap {
  h2 {
    margin-bottom: 0;
  }
  h1 {
    margin-top: 0;
  }
}

.webform-submission-form.webform-submission-contact-add-form {
  max-width: 600px;
  background: #08292b;
  border-radius: 14px 61px 37px 14px;
  padding: 60px;
  color: #fff;
  .webform-button--submit {
    padding: 13px 50px;
    background-color: $brand-tertiary;
    border-color: #d0165e;
    &:hover {
      background-color: #d0165e;
    }
  }
}

@media (max-width: 991px) {
  #block-webform {
    margin-top: 30px;
  }
}

@media (max-width: 520px) {
  .webform-submission-form.webform-submission-contact-add-form {
    padding: 30px 20px;
  }
}