.homepage-wrap {
  position: relative;
  .homepage-section {
    position: relative;
    padding: 60px 0;
    .homepage-section-inner {
      img {
        display: block;
        margin: 0 auto;
      }
    }
    &.home-one {
      .content-column {
        img {
          margin: 0 0 10px;
        }
      }
      .image-column {
        img {
          max-height: 460px;
        }
      }
    }
    &.home-two {
      .image-column {
        img {
          max-height: 460px;
        }
      }
    }

    &.home-five {
      .row {
        display: block !important;
      }
      .text-size-middle.brand-primary-color {
        padding: 0 0 30px;
      }
      .clients-logos {
        margin-top: 10px;
        display: inline-block !important;
        text-align: center;
        img {
          max-width: 240px;
          max-height: 90px;
          width: auto;
          height: auto;
          display: inline-block;
          margin: 20px !important;
        }
      }
    }
  }
}

//All Larger Screens
@media (min-width: 768px) {
  .homepage-wrap {
    .section-wrap.home-one-and-two {
      background-image: url('/sites/default/files/graphics/lupi2019-background_swoosh-1.svg'), url('/sites/default/files/graphics/lupi2019-background_swoosh-2.svg');
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .homepage-section {
      height: 75%;
      height: 61vh;
      .homepage-section-inner {
        .row {
          display: flex;
        }
        .content-column {
          margin: auto;
        }
      }
      &.home-two {
        color: #fff;
      }
      &.home-five {
        height: unset;
        //background-image: url('/sites/default/files/graphics/lupi2019-background_side-1.svg');
        //background-position: 0 60px;
        //background-size: 45%;
        //background-repeat: no-repeat;
        .content-column {
          color: #fff;
          p {
            padding: 15px 0 16px 30px;
            background-image: url('/sites/default/files/graphics/lupi2019-background_side-1.svg');
            background-position: 0 0;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
        .row {
          display: block !important;
        }
      }
    }
  }
}


//Larger than Large Screens
@media (min-width: 1600px) {
  .homepage-wrap {
    .homepage-section {
      height: 75%;
      height: 36vw;
    }
  }
}

//Up to Medium Screens
@media (min-width: 992px) and (max-width: 1199px) {
  .homepage-wrap {
    .homepage-section {
      height: 75%;
      height: 59vh;
    }
  }
}

@media (min-width: 768px) {
  .homepage-wrap {
    position: relative;
    .homepage-section {
      &.home-four {
        background-image: url('/sites/default/files/graphics/lupi2019-graphic-background-cloud-1-blue.svg'), url('/sites/default/files/graphics/lupi2019-graphic-background-cloud-1-magenta.svg'), url('/sites/default/files/inline-images/lupi2019-featured-websitedesign-macbook.png');
        background-position: -200px 10%, 16vw 0, right;
        background-size: 50%, 300px, 45%;
        background-size: 50%, 300px, 45% auto;
        background-repeat: no-repeat;
      }
    }
  }
}

@media (max-width: 767px) {
  .homepage-wrap {
    position: relative;
    .homepage-section {
      &.home-four {
        background-image: url('/sites/default/files/graphics/lupi2019-graphic-background-cloud-1-blue.svg'), url('/sites/default/files/graphics/lupi2019-graphic-background-cloud-1-magenta.svg'), url('/sites/default/files/inline-images/lupi2019-featured-websitedesign-macbook.png');
        background-position: -200px 10%, 16vw 0, right;
        background-size: 50%, 300px, 45%;
        background-size: 50%, 300px, 45% auto;
        background-repeat: no-repeat;
      }
    }
  }
}

//Up to Small Screens
@media (min-width: 768px) and (max-width: 991px) {
  .homepage-wrap {
    .section-wrap.home-one-and-two {
      background-size: 145%;
    }
  }
}

@media (min-width: 1180px) {
  body.path-frontpage {
    background-image: url('/sites/default/files/graphics/lupi2019-background_swoosh-3.svg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    .footer {
      background-color: transparent;
    }
  }
}

@media (max-width: 767px) {
  .homepage-wrap {
    .image-column {
      img.xs-80 {
        max-width: 350px !important;
        width: 80% !important;
      }
    }
    .homepage-section.home-one {
      padding-top: 10px !important;
    }
    .homepage-section.home-four {
      background-image: url('/sites/default/files/graphics/lupi2019-graphic-background-cloud-1-blue.svg'), url('/sites/default/files/graphics/lupi2019-graphic-background-cloud-1-magenta.svg');
      background-position: 90% 97%, -25px 80%;
      background-size: 50%, 260px;
      background-repeat: no-repeat;
    }
    .homepage-section {
      text-align: center !important;
      .image-column {
        margin-bottom: 15px;
        img {
          margin: 0 auto !important;
        }
      }
      .content-column {
        img {
          margin: 5px auto 10px !important;
        }
      }
    }
  }
}

@media (min-width: 520px) and (max-width: 767px) {
  .homepage-wrap {
    .homepage-section {
      .content-column {
        h1, h2, h3, h4, p {
          max-width: 80%;
          margin-left: auto !important;
          margin-right: auto !important;
        }
      }
    }
  }
}