.services-wrap {
  background-image: url('/sites/default/files/graphics/lupi2019-graphic-background-cloud-2-blue.svg'), url('/sites/default/files/graphics/lupi2019-graphic-background-cloud-3-blue.svg'), url('/sites/default/files/graphics/lupi2019-graphic-background-cloud-3-magenta.svg'), url('/sites/default/files/graphics/lupi2019-graphic-background-cloud-2-magenta.svg'), url('/sites/default/files/graphics/lupi2019-graphic-background-cloud-1-magenta.svg');
  background-position: -330px 0, 98% 24%, 32% 0, 77% 5%, 111% 0;
  background-size: 50%, 290px, 20%, 450px, 23%;
  background-repeat: no-repeat;
  .services-section {
    padding: 60px 0;
  }
  .services-category-list {
    img {
      max-width: 300px;
      margin: 0 auto 20px;
      display: block;
    }
    .content-column {
      h2 {
        font-weight: 400 !important;
      }
    }
    ul {
      list-style: none !important;
      padding-left: 0;
      li {
        padding: 2px 0;
      }
      a {
        color: $text-color;
      }
    }
  }
  .services-two {
    height: 61vh;
    .services-section-inner {
      .content-column {
        margin: auto;
      }
    }
    img {
      max-height: 460px;
      display: block;
      margin: 0 auto;
    }
  }
}

@media (min-width: 521px) {
  .services-wrap {
    .services-two {
      .services-section-inner {
        .row {
          display: flex;
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .services-wrap {
    background-position: 10px 0, 150% 72%, 105% 40%, 0 24%, -5% 60% !important;
    background-size: 50%, 230px, 35%, 286px, 48% !important;
    .services-category-list {
      img {
        margin-bottom: 0;
      }
      .content-column {
        text-align: center;
        margin-bottom: 30px;
        h2 {
          margin-top: 5px;
        }
      }
    }
  }
}