.servicepage-wrap {
  .servicepage-section {
    position: relative;
    padding: 60px 0;
  }
  .servicepage-section-inner {
    .content-column {
      p {
        font-weight: 300;
        margin-bottom: 20px;
        line-height: 1.6;
      }
      h1 {
        font-weight: 600 !important;
        color: $brand-tertiary !important;
      }
    }
    a.text-cta {
      margin-top: 15px;
      color: #fff;
      background: $brand-tertiary;
      padding: 10px 20px;
      border-radius: 5px;
      display: inline-table;
      float: right;
    }
    a:hover.text-cta {
      text-decoration: none !important;
    }

    .offside-image {
      height: 100vh;
      background-size: cover;
      background-position: left top;
      background-repeat: no-repeat;
    }
    .quote {
      padding: 30px 0;
      font-size: 40px;
      color: #444;
      text-align: center;
      line-height: 1.8;
    }
  }
  .servicepage-section-inner.fake-container {
    .image-column {
      padding-right: 0;
    }
  }
}

.services-breadcrumb {
  a {
    color: #fff;
    display: block;
    padding: 15px 0 12px 30px;
    background-image: url('/sites/default/files/graphics/lupi2019-services-breadcrumb.svg');
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
  }
  a:hover, a:focus {
    text-decoration: none !important;
  }
}

//Up to Small Screens
@media (min-width: 768px) and (max-width: 991px) {
  .servicepage-wrap {
    .servicepage-section-inner {
      .content-column {
        h1 {
          margin-top: 0;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .servicepage-section-inner.fake-container {
    .content-column-inner {
      padding-left: 25px;
    }
  }
}

@media (max-width: 767px) {
  .servicepage-wrap .servicepage-section-inner {
    .quote {
      font-size: 23px;
    }
    .text-cta {
      display: block;
      margin: 15px auto;
      float: unset;
      text-align: center;
    }
    .offside-image.small-alt {
      background-position: left !important;
      background-size: 130% !important;
      height: 52vh !important;
    }
  }
}
