.brand-primary-color {
  color: $brand-primary;
}

.brand-secondary-color {
  color: $brand-secondary;
}

.brand-tertiary-color {
  color: $brand-tertiary;
}

.brand-grey-color {
  color: $brand-grey;
}

.text-size-small {
  font-size: 15px !important;
}

.text-size-middle {
  font-size: 30px !important;
  font-weight: 600;
}
.text-size-medium {
  font-size: 29px !important;
  font-weight: 800;
}

.text-size-large {
  font-size: 54px !important;
  font-weight: 800;
}

@media (max-width: 767px) {
  .text-size-small {
    font-size: 18px !important;
  }

  .text-size-middle {
    font-size: 27px !important;
    font-weight: 600;
  }
  .text-size-medium {
    font-size: 29px !important;
    font-weight: 800;
  }

  .text-size-large {
    font-size: 30px !important;
    font-weight: 800;
  }
}