/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

$brand-primary: #2CB7C5;
$brand-secondary: #0B292C;
$brand-tertiary: #F01661;
$brand-grey: #4B4B4B;

$text-color:            #2B2B2B;

$font-size-base:          18px;
$font-size-h1:            45px;
$font-size-h2:            40px;
$font-size-h3:            35px;
$font-size-h4:            25px;
$font-size-h5:            $font-size-base;

$font-family-sans-serif: 'source-sans-pro', sans-serif;
$headings-font-family: $font-family-sans-serif;

$headings-font-weight: 800;