.footer {
  border: none !important;
  background-color: $brand-secondary;
  color: #fff !important;
  padding-top: 60px !important;
  margin-top: 60px !important;
  text-align: center;
  a {
    color: #fff;
  }
  .btn {
    padding: 20px 30px !important;
    border-radius: 40px !important;
    margin: 15px 0 !important;
    font-weight: bold;
    font-size: 22px;
  }
  p {
    margin-bottom: 30px;
    font-size: 16px;
  }
  p.feature {
    font-size: 23px;
    margin-bottom: 10px !important;
  }
  p.address {
    margin-bottom: 0;
  }
  p.address,
  p.contact-details {
    font-size: 20px;
  }
  p.contact-details {
    margin-bottom: 30px;
  }
  .social-links {
    margin-bottom: 15px;
    a, a:hover {
      text-decoration: none !important;
    }
    img {
      max-width: 40px;
      margin: 5px;
    }
  }
}