.navbar-default {
  background-color: #fff !important;
  border: none !important;
  .navbar-nav > li > a {
    font-weight: 600;
    color: #2B2B2B;
    text-transform: uppercase;
  }
}

#block-lupi2019-main-menu > ul > li:last-child > a {
  color: $brand-tertiary;
}

.navbar-header .logo {
  margin-left: 25px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none !important;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right !important;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    position: relative;
    &::before {
      border-bottom: 3px solid $brand-primary;
      content: "";
      position: absolute;
      left: 15%;
      right: 0;
      bottom: 0;
      height: 3px;
      width: 70%;
      padding: 20%;
    }
  }
}

@media (max-width: 767px) {
  .navbar-nav > li {
    text-align: right;
  }
  .navbar-toggle {
    margin-right: 0 !important;
  }
  .navbar-header .logo {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
}