@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.fake-container {
  padding: 0 15px;
}
.page-node-type-page,
.path-frontpage {
  .page-header {
    display: none;
  }
}

.page-header {
  display: none !important;
}

.logo {
  width: 64px;
  height: 64px;
}

.ellipses-separator {
  height: 18px;
  width: 18px;
  border-radius: 100%;
  display: inline-block;
  box-shadow: -20px 0 0 #1eb7c6, -28px 0 0 #56c7d3, -36px 0 0 #b7e7eb;
  margin-left: 36px;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-tertiary {
  color: #fff !important;
  background-color: $brand-tertiary;
  border-color: #d0165e;
  &:hover {
    background-color: #d0165e !important;
  }
}

@media (max-width: 520px) {
  .col-xxs-12 {
    width: 100%;
    float: left;
  }
}

@media (min-width: 1600px) {
  .col-xlg-4 {
    width: 33.33333333%;
    float: left;
  }
  .col-xlg-5 {
    width: 41.66666667%;
    float: left;
  }
  .col-xlg-push-7 {
    left: 58.33333333%;
  }
  .col-xlg-push-8 {
    left: 66.66666667%;
  }
}

//Up to Small Screens
@media (max-width: 991px) {
  h1 {
    font-size: 33px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 25px;
  }
}

////All Larger Screens
//@media (min-width: 768px) {
//  .navbar.navbar-default {
//    background-color: palegreen !important;
//  }
//}
//
////Larger than Large Screens
//@media (min-width: 1600px) {
//  .navbar.navbar-default.container {
//    background-color: #dba08f !important;
//  }
//}
//
////Up to Medium Screens
//@media (max-width: 1199px) {
//  .navbar.navbar-default {
//    background-color: palevioletred !important;
//  }
//}
//
////Up to Small Screens
//@media (max-width: 991px) {
//  .navbar.navbar-default {
//    background-color: palegoldenrod !important;
//  }
//}
//
////Only Extra Small Screens
//@media (max-width: 767px) {
//  .navbar.navbar-default {
//    background-color: paleturquoise !important;
//  }
//}