#block-views-block-articles-block-1 {
  padding: 60px 0 90px;
  .view-content,
  .view-footer {
    float: left;
    display: inline-block;
  }
  .view-footer {
    a {
      display: block;
      font-weight: bold;
      font-size: 30px;
      margin: 30px 15px 0 15px;
      background: #36b7c4;
      color: #fff;
      padding: 10px 25px;
      border-radius: 30px;
    }
  }
  h3 {
    font-size: 24px;
    margin-top: 0 !important;
  }
}

@media (min-width: 768px) {
  #block-views-block-articles-block-1 {
    background-image: url('/sites/default/files/graphics/lupi2019-background_shape-1.svg');
    background-position: 60px 100%;
    background-size: 500px;
    background-repeat: no-repeat;
  }
}

@media (max-width: 767px) {
  #block-views-block-articles-block-1 {
    .image-column {
      margin-bottom: 30px;
      img {
        max-width: 100%;
      }
    }
    .view-footer {
      text-align: center;
      display: inline-block;
      margin-top: 30px;
      width: 100%;
    }
  }
}